.animate-before {
    transform: translateY(0px);
    opacity: 0;
    /*Elements can't be touchble*/
    pointer-events: none;
  }
  
  .animate-after {
    transform: translateY(-80px);
    opacity: 0;
    pointer-events: none;
  }